.slider-standard, .slider-tlx, .slider-tlx-nograd, .slider-custom{
  // width: 37em; // see experiment.scss, default width is 55em
  // margin: 2em 2em 2em 2em;
  margin-bottom: 3.5em;
  margin-top: 2em;

  .noUi-value.noUi-value-horizontal.noUi-value-large {
    margin-top: 1.5em;
  }
}

// transparent sliding zone
.slider-tlx.noUi-target, .slider-tlx-nograd.noUi-target, .slider-custom.noUi-target {
  background: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #aaaaaa;
}

.sv-list {
  overflow-y: scroll;

  &__item {
    color: var(--survey-main-color);

    &--selected{
      color: var(--white);
    }
  }
}

.svc-page-navigator__navigator-icon {
  width: 2.8em !important;
  height: 2.8em !important;
}

.slider-tlx, .slider-tlx-nograd, .slider-custom{
  // margin: 3.5em 3.5em;
  // margin-left: 5.5em;

   
  .noUi-base, .noUi-connects {
    height: 225%;
    top: -95%;
  }

  // Text alignment
  .noUi-value.noUi-value-horizontal.noUi-value-large {
    margin-top: 2em;
    color: var(--survey-main-color);
    font-weight: bold;
  }

  .noUi-pips-horizontal {
    top: -100%;

    > :nth-child(2) {
      transform: translate(0%, 0.5em);
    }

    > :nth-last-child(1) {
      transform: translate(-100%, 0.5em);
    }
  }

  .noUi-handle {
    border: 1px solid var(--danger-color);
    border-radius: 3px;
    background: var(--danger-color);
    cursor: default;
    box-shadow: none;
    width: 0.5em !important;
    height: 3em !important;
    right: -0.25em !important;
    top: -0.6em !important;
  
    &:after, &:before {
      display: none;
    }
  }
}


// TLX-only pips adjustments
.slider-tlx{
  .noUi-pips-horizontal {
     .noUi-marker-horizontal.noUi-marker-large {
      height: 20px;
        top: 17%;
      &:nth-child(5n+1){
        height: 30px;
        top: 5%;
      }
      &:nth-child(21){
        height: 58px;
        top: -30%;
      }
    }
  }
}

.slider-tlx-nograd{
  .noUi-pips-horizontal {
    .noUi-marker-horizontal.noUi-marker-large {
      // set all the elements to height 0 and top 0 excpet for the first and the twenty-first element
      height: 0;
      top: 0;
      &:nth-child(20n+1){
        height: 30px;
        top: 5%;
      }
      &:nth-child(21){
        height: 0px;
        top: 0%;
      }
    }
  }
}

.slider-custom .noUi-value.noUi-value-horizontal.noUi-value-large, .slider-tlx .noUi-value.noUi-value-horizontal.noUi-value-large {
  // max-width: 11em;
}

.likert-matrix{

  margin: 0 auto;

  &-row{

    display:contents;
  }

  // &-text-one,&-text-two{
  //   width: 10%;

  // }

  &-text {

    min-width: 0px;

    // @include fat-text;
    color: var(--survey-main-color);
    text-align: center;

    overflow: hidden;
    // text-overflow: ellipsis;
    white-space: initial;
    font-size: small;
  }

  &-items{

    min-width: 0px;

  //  width: 80%;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    gap: 0.5em;

    @media (max-width: 768px) {
      gap: 0.3em;
    }
  }

  &-item{
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    border: 2px solid var(--survey-main-color);

    &:hover{
      cursor: pointer;
    }

    &-selected {
      background-color: var(--survey-main-color);
    }
  }
}


.slider-custom .noUi-pips-horizontal .noUi-marker-horizontal {
  height: 25px;
}

.slider-custom .noUi-pips-horizontal .noUi-marker-horizontal.noUi-marker-large {
  height: 35px;
  bottom: 45px;
}


/// TODO: NoUI custom colors 
///////////////////////////

.slider-tlx.noUi-target, .slider-tlx-nograd.noUi-target, .slider-custom.noUi-target {
  border-bottom: 1px solid #aaaaaa;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-marker-large {
  background: #AAA;
}

.slider-custom{
  // .noUi-pips-horizontal{
  //   .noUi-marker-normal{
  //     visibility: hidden;
  //   }
  //   .noUi-value.noUi-value-horizontal.noUi-value-large:nth-child(47){
  //     left: 50%;
  //   }
  // } 
}

.sd-question--disabled .likert-item { 
  &:hover{
    background-color: var(--survey-main-color);
    color: var(--white);
    // @include small-text; 
    // padding: 0.5em 0.5em;
    // border-radius: 0.8em;
    cursor: not-allowed;
    border: 1px solid  var(--survey-main-color);
  }

  &-selected{
    background-color: var(--white);
    color: var(--survey-main-color);
    border: 1px solid var(--survey-main-color);

    &:hover{
      background-color: var(--white);
      color: var(--survey-main-color);
    }
  }
}

.sd-question--disabled .likert-matrix, .sd-question--disabled .likert-matrix-item {
  &:hover {
    cursor: not-allowed;
  }
}

// Likert style:
.likert{

  &-item{
    background-color: var(--survey-main-color);
    color: var(--white);
    // @include small-text; 
    padding: 0.3em 0.3em;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid  var(--survey-main-color);

    transition: border 200ms, background-color 400ms, color 400ms;

    &:hover{
      background-color: var(--white);
      color: var(--survey-main-color);
      border: 1px solid var(--survey-main-color);
    }

    &-selected{
      background-color: var(--white);
      color: var(--survey-main-color);
      border: 1px solid var(--survey-main-color);
    }
  }
}
