@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-inter);
}
:root {
  --main-background-color: #e8e8e8;
  --experiment-background-color: #fbfbfb;
  --danger-color:  #ef5245;
  --button-color:  #00004c;
  --disabled-button-color: #73737e;
  --success-color: #65A30D;


  --dark-blue: #000034;
  --title-color: white;
  --light-blue: #eaeffe;
  --very-light-blue: #f4f7fe;
  --text-on-light-blue: black;
  --white: white;
  --secondary-white: white;
  --editable-text: #6c757d;
  --top-gradient-1: #0f0f5e;
  --top-gradient-2: #080835;
  --top-gradient-1-step: 50%;
  --top-gradient-2-step: 100%;
  --gray-text-color: #6c757d;
  --badge-text-color: #393e46;


  --survey-main-color: #3c4f6d;

  --progress-init: #9eb5cd75;
  --progress-blue: #6672fb;
  --progress-orange: #f8b849;
}

@mixin badge {
  // @include small-text;
  border-radius: 9rem;
  padding: 0.3em 0.5em 0.3em 0.5em;
}

.badge {
  @include badge();
  color: var(--badge-text-color);
}

.color-capsule {
  width: 10em;
  height: 0.5em;
  min-width: 0.5em;
  // height: 3.2em;
  //background-color: red;
  border-radius: 1em;
  // margin: 0.25em 0.5em;
  flex-wrap: wrap;
}


$colors: (
  "flamingo": #ef5245,
  "java": #1ee1da,
  "casablanca": #f8b849,
  "cornflower-blue": #6672fb,
  "bright-sun": #ffe53d,
  "lavender-rose": #ff85d6,
  "granny-smith-apple": #a1e69c,
  "heliotrope": #cc82f1,
  "antique-brass": #c79870,
  "malibu": #1ee1da,
  "mona-lisa": #ff9797,
  "silver": #b9b9b9,
);

@each $name, $color in $colors {
  .badge-color-#{$name} {
    background-color: $color !important;
  }
}

@each $name, $color in $colors {
  .border-color-#{$name} {
    border-color: $color;
  }
}

.gray-text {
  color: var(--gray-text-color);
}

.file-upload {
  // text-align: center;
  border: 3px dashed rgb(210, 227, 244);
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.file-upload p {
  font-size: 0.87rem;
  margin-top: 10px;
  color: #bbcada;
}
.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.white-button {
  background-color: var(--white);
  color: var(--dark-blue);

  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  // font-size: var(--font-size-small);

  text-align: center;
  border-radius: 20px;
  //padding: 1px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // margin-bottom: 1rem;

  // padding: 1px 2px;
 
  &:hover{
    background-color: var(--dark-blue);
    transition-duration: 0.5s;
    color: var(--white);
  }

  &-big {
    width: 20em;
    height: 3em;
    font-size: 1.5em;
  }

  &-delete {
    &:hover{
      background-color: var(--danger-color);
      transition-duration: 0.5s;
      color: var(--white);
    }
  }
}

.study-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.study-card {
  width: 17em;
  border-radius: 5px;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;

  &-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-body {
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: var(--dark-blue);
    
  }
  
  &-footer {
    display: flex;
    justify-self: center;
  }
}

.bold-text {
  font-weight: bold;
  color: var(--dark-blue);
}

.light-text {
  font-weight: 200 !important;
}

.session-management {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  gap: 1rem;
  align-items: center;

}

.subject-progress-bar{
  height: 0.6em;
  display: flex;
  align-items: flex-end;
  border-radius: 1em;
  cursor: default;

  // Warning new gray color defined here 
  background-color: var(--progress-init);
  // background-color: #9eb5cd75;

  progress[value]{
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 0.6em;
      border-radius: 1em;
  }
  progress[value]::-webkit-progress-bar {
      background-color: rgba(234, 239, 254, 0);
      border-radius: 20px;
      border-radius: 1em;
      height: 0.6em;
  }
  progress[value]::-webkit-progress-value {
      background: var(--progress-orange);
      border-radius: 30px;
      border-radius: 1em;
      height: 0.6em;
  }
} 

.progress-bar-complete progress[value]::-webkit-progress-value {
  background: var(--success-color);
}

.subject-button {
  background-color: var(--white);
  border: 1px solid var(--dark-blue);

  &:hover {
    background-color: var(--dark-blue);
    color: var(--white);
  }
}

.study-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  // margin-top: 1rem;
  @media(min-width: 768px){
    flex-direction: row;
    gap: 4rem;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.study-management {
  height: 50em;
}

.text_orange {
  color: var(--progress-orange);
}

.text-green {
  color: var(--success-color);
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
